* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1240px;
  padding: 16px;
}

body {
  background-color: aliceblue;
}

li {
  list-style-type: none;
  margin-bottom: 6px;
}

ul {
  margin-top: 12px;
}

h3 {
  font-weight: 300;
  margin: 4px 0;
}

.navBar {
  background-color: #2a2a2a;
  height: 60px;
}

.navBar__content > input {
  border-radius: 6px;
  border: none;
  padding: 4px 8px;
  background-color: aliceblue;
}

.navBar__content > input:focus-visible {
  outline: none;
}

.characterList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.characterItem {
  flex-basis: 300px;
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 16px 12px;
  margin-bottom: 24px;
  cursor: pointer;
}

.peopleCard {
  border: 1px solid lightgray;
  margin-top: 24px;
  padding: 12px 24px;
  border-radius: 12px;
}

.peopleCard__navbar {
  background-color: #2a2a2a;
  color: white;
}

.peopleCard__navbar-container {
  display: flex;
  justify-content: space-between;
}

.peopleCard__navbar-container > div {
  font-size: 24px;
}

.peopleMain {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.history {
  flex-basis: 200px;
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 6px 12px;
  margin-left: 6px;
}
